[user]
    name  = Albert Gu
    email = albertfgu@gmail.com
[core]
    editor = nvim
[color]
    ui = true
[alias]
    lg    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    hist  = log --pretty=format:'%h %ad | %s%d [%an]' --graph -    -date=short
    st    = status
    stu   = status -uno
    co    = checkout
    ci    = commit
    cm    = commit -m
    ca    = commit -a -m
    amend = commit --amend
    pr    = pull --rebase
    # https://dev.to/committedsw/useful-git-alias-47in
    la    = "!git config -l | grep alias | cut -c 7-"
    sts   = "!git status -s | cat -n"
    s     = "!stage() { git add `git sts | sed -n $1p | awk -F' ' '{ print $3 }'`; git sts; }; stage"
    u     = "!unstage() { git reset HEAD `git sts | sed -n $1p | awk -F' ' '{ print $2 }'`; git sts; }; unstage"
    hash  = rev-parse --short HEAD
